$bg-primmary: #027996;
$bg-second: #209e3f;
$bg-three: #2c9fa3;
$bg-four: #f0f0f0e3;

$tex-primary: #2c9fa3;
$tex-second: #09456c;
$tex-three: #042745;
$text-four: #606060;

$logo-primary: #f03813;
$logo-second: #221ba6;
